*__pycache__*
*egg-info*
outputs*
multirun*
cross_eval/*
saves*
_saves*
log
venv
.temp
cache

*.swp
submitit_logs

user_defined_freezies/*.npy
.idea
wandb
.DS_Store
wandb_cache
wandb_output_*

error_logs
output_logs
notebook/.temp
/LM_weights/
/encoder_ckpts/
vision_level_gpt
results

pcgrl_buffer

.env
dataset
vision_level_gpt.zip
human_dataset*